<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css"> 
    <title>Sorting By Brightness and Saturation</title>
</head>
<body class="bodyStyle">
    <h1 class="hrefStyleChoose">Choose some files to sorting by Brightness or Saturation!</h1>

    <div class="formAndGifContainer">
        <div>
            <text class="hrefStyleSupports">[App supports only '.pnd', '.jpg' and '.jpeg']</text>
            <div class="formStyle">
                <form action="/" method="POST" enctype="multipart/form-data">
                    <input type="file" name="images_folder" multiple class="chooseFilesButt">
                    <br><br>
                    <label for="sort_by">Sort by...</label>
                    <select name="sort_by" class="sortByButt">
                        <option value="brightness">brightness</option>
                        <option value="saturation">saturation</option>
                    </select>
                    <br><br>
                    <button type="submit" class="uploadButt">Upload and Create PDF</button>
                </form>
            </div>
        </div>
    
        <div class="gifStyle">
            <img src="../static/images/angry_skeleton.gif" alt="angry_skeleton">
        </div>
    </div>



    {% if pdf_ready %}
    <div class="pdfReadyContainer">
        <div class="pdfImageContainer">
            <img src="../static/images/299x.gif" alt="second_skeleton" class="pdfIcon">
        </div>
        <div class="pdfTextContainer">
            <h2>Your PDF is ready!</h2>
            <a href="{{ pdf_url }}" class="btn btn-primary" download>Download PDF</a>
        </div>
    </div>
    <div class="pdfPreview">
        <h3 style="text-align: left; size: 30px;">Preview PDF:</h3>
        <iframe src="{{ pdf_preview_url }}" class="PDF"></iframe>
    </div>

{% endif %}

</body>
</html>
